{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <div class="row">
    <form action="." method='POST'>
        {% csrf_token %}
        {{form|crispy}}
        <p>
            <button type="submit" class="btn btn-primary">
                Login
            </button>
        </p>
        <p>
            <a href="{% url 'password_reset' %}">
                <button class="btn btn-primary">
                    Reset Password
                </button>
            </a>
        </p>
        <p>
            <a href="{% url 'register' %}">
                <button class="btn btn-primary">
                    Need ad account?
                </button>
            </a>
        </p>
        <hr>
    </form></div></div>
{% endblock content %}

