{% extends 'blog/main.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-primery dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posts on page:
              </button>
              <div class="dropdown-menu">              
                <li class="nav-item"><a class="dropdown-item" href="?per_page=1"><button type="submit" class="nav-link active">1</button></a></li>
                <li class="nav-item"><a class="dropdown-item" href="?per_page=2"><button type="submit" class="nav-link active">2</button></a></li>
                <li class="nav-item"><a class="dropdown-item" href="?per_page=3"><button type="submit" class="nav-link active">3</button></a></li>
                <li class="nav-item"><a class="dropdown-item" href="?per_page=4"><button type="submit" class="nav-link active">4</button></a></li>
              </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primery dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order by
                </button>
                <div class="dropdown-menu">              
                  <li class="nav-item"><a class="dropdown-item" href="?order=-title"><button type="submit" class="nav-link active">A-Z</button></a></li>
                  <li class="nav-item"><a class="dropdown-item" href="?order=title"><button type="submit" class="nav-link active">Z-A</button></a></li>
                  {% comment %} <li class="nav-item"><a class="dropdown-item" href="?order=-view_count"><button type="submit" class="nav-link active">Most Viewed</button></a></li>
                  <li class="nav-item"><a class="dropdown-item" href="?order=view_count"><button type="submit" class="nav-link active">Least Viewed</button></a></li>
                  <li class="nav-item"><a class="dropdown-item" href="?order=-comment_count"><button type="submit" class="nav-link active">Most Commented</button></a></li>
                  <li class="nav-item"><a class="dropdown-item" href="?order=comment_count"><button type="submit" class="nav-link active">Least Commented</button></a></li> {% endcomment %}
                  <li class="nav-item"><a class="dropdown-item" href="?order=created"><button type="submit" class="nav-link active">Latest</button></a></li>
                  <li class="nav-item"><a class="dropdown-item" href="?order=-created"><button type="submit" class="nav-link active">Newest</button></a></li>
                </div>
              </div>
            </div>
          <!-- post -->
          {% for post in posts %}
          <div class="post col-xl-6">
            <div class="post-thumbnail" style="width:30%;"><a href="{{post.get_absolute_url}}"><img src={{post.thumbnail.url}} alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                {% comment %} <div clasas="date meta-last">{{post.created|timesince}}</div> {% endcomment %}
                <div class="post-meta d-flex justify-content-between">
                    <div class="category">
                        {% for cat in post.categories.all %}
                        <a href="{% url 'cat_detail' pk=cat.pk %}
                        ">{{cat.title}}</a>
                        {% endfor %}
                    </div>
                    {% comment %} <div class="post-tags">
                      {% for tag in post.tags.all %}
                          <a href="{% url 'tag_detail' pk=tag.pk %}" class="tag">#{{tag.title}}</a>
                      {% endfor %}
                    </div> {% endcomment %}
                </div>
              </div><a href="{% url 'post_detail' pk=post.pk %}"">
                <h3 class="h4">{{post.title}}</h3></a>
              <p class="text-muted">{{post.overview}}</p>
              <footer class="post-footer d-flex align-items-center"><a href="{% url 'profile_pk' pk=post.profile.pk %}" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src={{post.profile.profile.profile_picture.url}} alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{post.profile.username}}</span></div></a>
                <div class="date"><i class="icon-clock"></i>{{post.created|timesince}} ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
                
              </footer>
            </div>
          </div>
          {%endfor%}
        </div>
        {% comment %} 
        <i class="fa fa-angle-left"></i> == < 
        <i class="fa fa-angle-right"></i> == >

        Нажатие на кнопку отключается:
        <li class="page-item"><a class="page-link" href="{{ prev_url}}"><</a></li>
        <li class="page-item"><a class="page-link" href="{{ next_url}}">></a></li></ul></nav>
        Нажатие на кнопку остается:
        <li class="page-item {% if not prev_url %}disabled{%endif%}"><a class="page-link" href="{{ prev_url}}"><</a></li>
        <li class="page-item {% if not next_url %}disabled{%endif%}"><a class="page-link" href="{{ next_url}}">></a></li></ul></nav>
        {% endcomment %}

        <!--Pagination oleg -->
        {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">

            <!-- Кнопка назад -->
            <li class="page-item"><a class="page-link" href="{{ prev_url}}"><</a></li>
            
            {% for n in page.paginator.page_range %}
              {% if page.number == n %}
                <li class="page-item active"><a class="page-link" href="?page={{n}}">{{n}} <span class="sr-only">(current)</span></a></li>
              {%elif n > page.number|add:-3 and n < page.number|add:3 %}
                <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
              {%endif%}
            {% endfor %}

            <!-- Кнопка вперед -->
            <li class="page-item"><a class="page-link" href="{{ next_url}}">></a></li></ul></nav>
        {% endif %}
    </main>
    {% include 'blog/sidebar.html' with most_recent=most_recent category_count=category_count tags=tags %}
      
    
  </div>
</div>
{%endblock%}



{% comment %} pagination COREY {% endcomment %}
{%if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page.obj.pervious_page_number}}">Previous</a>
        {%endif%}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
            {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page.obj.paginator.num_pages}}">Last</a>
        {%endif%}
    {%endif%}

class PostListView(ListView):
    model = Post
    context_object_name = 'posts'
    template_name = 'corey/home.html'
    ordering = ['-date_posted']
    paginate_by = 4

class UserPostListView(ListView):
    model = Post
    template_name = 'corey/user_posts_list.html'
    context_object_name = 'posts'
    paginate_by = 5
    def get_queryset(self):
        user = get_object_or_404(User, username = self.kwargs.get('username'))
        return Post.objects.filter(author=user).order_by('-date_posted')


