{% extends 'blog/main.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>Categories list:</h1>
    {% for cat in cats %}
        <p><a href="{% url 'cat_detail' pk=cat.pk %}"><h2>{{cat.title}}</h2></a>
        {% if request.user.is_staff %}
            <a class="btn btn-primary" href="{% url 'cat_update' pk=cat.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'cat_delete' pk=cat.pk %}">Delete</a>
        {% endif %}
        </p>
    {% endfor %}
</div>
{% endblock content %}