{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-8 offset-2 mb-5 mt-5">
    <h3>{{title}}</h3>
    {{form.media}}ss
        <form class="" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary" name="button">Submit</button>
        </form>
    </div>
{% endblock %}
