{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<section class="newsletter no-padding-top">    
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Подписаться на рассылку</h2>
        <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-8">
        <div class="form-holder">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {% comment %} {{ form }} {% endcomment %}
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <input type="name" name="name" id="name" placeholder="Type your name">
                  <input type="message" name="message" id="message" placeholder="Type your message">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
                <button type="submit" class="submit">Signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
