{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-mb-5 offset-3">
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a class="btn btn-danger col-md-4 offset-4" href="{{post.get_delete_url}}">Удалить</a>
        <a class="btn btn-success col-md-4 offset-4" href="{{post.get_update_url}}">Изменить</a>
        <div class="card-footer text-muted">
          2 days ago
        </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}