{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% for post in posts %}
  <div class="row">
    <div class="col-mb-5 offset-3">
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать...</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock content %}