{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" action="{{post.get_update_url}}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-5 offset-3">
      {{form|crispy}}
      <input class="btn btn-success" type="submit" value="Создать статью" />
    </div>
  </div>
</form>
{% endblock content %}