{% extends 'blog/main.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
<div class="row">
<main class="post blog-post col-lg-8">
<div class="container">
<div class="post-single">
<img src={{post.thumbnail.url}} alt="..." class="img-fluid">
<div class="post-details">
    <div class="post-meta d-flex justify-content-between">
        <div class="category">
            {% for cat in post.categories.all %}
            <a href="{% url 'cat_detail' pk=cat.pk %}">{{cat.title}}</a>
            {% endfor %}
        </div>
    </div>
    {% if request.user == post.profile %}
    <div>
        <a class="btn btn-primary" href="{% url 'post_update' pk=post.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Delete</a>
    </div>
    {% endif %}
    <h1>{{post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a>
    </h1>
    <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
    <a href="{% url 'profile_pk' pk=post.profile.pk %}" class="author d-flex align-items-center flex-wrap">
        <div class="avatar"><img src={{post.profile.profile.profile_picture.url}} alt="..." class="img-fluid"></div>
        <div class="title"><span>{{post.profile.username}}</span></div>
    </a>
        <div class="d-flex align-items-center flex-wrap">
            <div class="date"><i class="icon-clock"></i>{{post.created|timesince}} ago</div>
            <div class="views"><i class="icon-eye"></i>{{post.view_count}}</div>
            <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
        </div>
    </div>
    <div class="post-body">
        {{post.content|safe}}
    </div>
    <div class="post-tags">
    {% for tag in post.tags.all %}
        <a href="{% url 'tag_detail' pk=tag.pk %}" class="tag">#{{tag.title}}</a>
    {% endfor %}
    </div>
    <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
        {% if post.previous_post %}
        <a href="{% url 'post_detail' pk=post.previous_post.pk %}" class="prev-post text-left d-flex align-items-center">
            <div class="icon prev"><i class="fa fa-angle-left"></i></div>
            <div class="text"><strong class="text-primary">Previous Post </strong>
                <h6>{{post.previous_post.title}}</h6>
            </div>
        </a>
        {% endif %}
        {% if post.next_post %}
        <a href="{% url 'post_detail' pk=post.next_post.pk %}" class="next-post text-right d-flex align-items-center justify-content-end">
            <div class="text"><strong class="text-primary">Next Post </strong>
                <h6>{{post.next_post.title}}</h6>
            </div>
            <div class="icon next"><i class="fa fa-angle-right">   </i></div>
        </a>
        {% endif %}
    </div>
    <div class="post-comments">
        <header>
            <h3 class="h6">Post Comments<span class="no-of-comments">({{post.comments.count}})</span></h3>
        </header>
        {% for comment in post.get_comments %}
        <div class="comment">
            <div class="comment-header d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                    <div class="image">
                        <a href="{% url 'profile_pk' pk=comment.user.pk %}">
                        {% if request.user.profile %}
                        <img src={{comment.user.profile.profile_picture.url}} alt="..." class="img-fluid rounded-circle">
                        {% else %}
                        <img src='{% static "blog/img/user.svg" %}' alt="..." class="img-fluid rounded-circle">
                        {% endif %}
                    </div>
                    <div class="title"><strong>{{comment.user.username}}</strong><span class="date">{{comment.created|timesince}}</span>
                    </div>
                    </a>
                </div>
            </div>
            <div class="comment-body">
                <p>{{comment.content}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="add-comment">
        <header>
            <h3 class="h6">Leave a reply</h3>
        </header>
        <form action="{% url 'post_detail' pk=post.pk %}
        " method="POST" class="commenting-form">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-12">
                    {{form}}
                    <!-- <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea> -->
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-secondary">Submit Comment</button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In to comment</a>
    {% endif %}
</div>
</div>
</div>
</main>
</div>
</div>

<div class='col-sm-12'>
    <h2>Комментарии</h2>
    <hr>
    {% for comment in post.comments.all %}
    <div class='col-sm-12'>
    <p>{{ comment.content }}</p>
    <small>Пользователь: {{ comment.user.username }}</small>
    <br>
    <small>{{ comment.created|date:"Y-m-d H:i:s" }}</small>
    <hr>
    </div>
    {% endfor %}
    <div class='col-sm-12' id='comments'>
    </div>
    <form action='' id='comments_form' method='POST'>
        <input type='hidden' id='user' value="{{ user.username }}", data-post='{{ post.pk }}'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' class='btn btn-default' value='Submit'>
    </form>
</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    console.log(window.location)
    var socket_url = 'ws://' + window.location.host + window.location.pathname
    var socket = new WebSocket(socket_url)
    socket.onmessage = function(event){
        console.log(event)
        var newComment = JSON.parse(event.data)
        //console.log('**',newComment)
        $('#comments').append(
                '<p>' + newComment.content + '</p>' +
                '<small>Пользователь: '+newComment.user + '</small><br>' +
                '<small>' + newComment.created + '</small><hr>')

    }
    socket.onopen = function(event){
        console.log('socket opened', event)
        var form = $('#comments_form')
        form.submit(function(e){
            e.preventDefault()
            console.log('hello')
            console.log('id_content',$('#id_content'))
            var content = $('#id_content').val()
            var pk = $('#user').attr('data-post')
            var user = $('#user').val()
            console.log(content)
            data = {
                'content': content,
                'pk': pk,
                'user': user,
            }
            socket.send(JSON.stringify(data))
        })
    }
    socket.onclose = function(event){
        console.log('socket closed', event)
    }
</script>
{% endblock %}
 