{% extends "blog/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" action="{{post.get_delete_url}}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-5 offset-3">
      <input class="btn btn-danger" type="submit" value="Удалить статью" />
      <a class="btn btn-primary" href="{{post.get_absolute_url}}">Отмена</a>
    </div>
  </div>
</form>
{% endblock content %}