{% extends 'blog/main.html' %}
{% block content %}
    <div class="container">
        {% for post in posts %}
         <p><a href="{% url 'post_detail' pk=post.pk %}
         " class="btn btn-outline-info">{{post.title}}</a></p>
        {% endfor %}
    </div>
{% endblock content %}
