{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <div class="media">
        <img src="{{ profile.profile_picture.url }}" alt="default" class="rounded-circle account-img">
        <div class="media-body">
            <h2 class="account-heading">{{profile.user.username}}</h2>
            <p class="text-secontady">{{profile.user.email}}</p>
            {% if request.user == profile.user %}
            <a class="btn btn-outline-info" href="{% url 'profile' %}
            ">Update Profile</a>             
            {% endif %}
        </div>
    </div>
    <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Info {{profile}}</legend>
            <p>Username: {{profile.user.username}}</p>
            <p>Email: {{profile.user.email}}</p>
            <p>First Name: {{profile.user.first_name}}</p>
            <p>Last Name: {{profile.user.last_name}}</p>
            <p><a class="btn btn-outline-info" href="{% url 'profile_posts' username=profile.user.username %}
            ">Posts by {{profile.user.username}}</a>
        </fieldset>
    </form>
</div>
{% endblock content %}

