{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="media">
        <img src="{{ user.profile.profile_picture.url }}" alt="default" class="rounded-circle account-img">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secontady">{{user.email}}</p>
            <a class="btn btn-outline-info" href="{% url 'profile_pk' pk=user.profile.pk %}
            ">View Profile</a>
            <a class="btn btn-outline-info" href="{% url 'profile_delete' pk=user.profile.pk %}
            ">Delete Profile</a>
        </div>
    </div>
    <a class="nav-link" href="{% url 'account_email' %}">Изменить e-mail</a>          
    <form class="" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">     
            {{p_form|crispy}}
        </fieldset>
        <div class="form-group">
            <legend class="border-bottom mb-4">Info {{user.profile}}</legend>
            {{u_form|crispy}}
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}

