{% extends 'blog/main.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h2>This is the results of your search</h2>
        {% for post in posts %}
        <p>
            <a class="btn btn-outline-info" href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>
        </p>
            <hr>
        {% endfor %}
    </div>

{% endblock %}
