{% extends 'blog/main.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1>Tags list:</h1>
    {% for tag in tags %}
    <p><a href="{% url 'tag_detail' pk=tag.pk %}"><h2>{{tag.title}}</h2></a>
    {% if request.user.is_staff %}
        <a class="btn btn-primary" href="{% url 'tag_update' pk=tag.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'tag_delete' pk=tag.pk %}">Delete</a>
    {% endif %}
    </p>
    {% endfor %}
</div>
{% endblock content %}