{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
      <a href="/admin" class="btn btn-outline-info">Admin</a>
      <div class="btn-group">
        <button type="button" class="btn btn-ligth dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
        <div class="dropdown-menu">
          <a href="" class="dropdown-item"></a>
          <a href="" class="dropdown-item"></a>
          <a href="" class="dropdown-item"></a>
          <a href="" class="dropdown-item"></a>
          <a href="" class="dropdown-item"></a>
          <a href="" class="dropdown-item"></a>
        </div>
    </div>
    </div>
{%endif%}