{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'blog/head.html' %}
  </head>
  <body>
    {% comment %} <em>Important: Authentication via OAuth based providers will not work until you <a href="/admin/socialaccount/socialapp/">setup proper applicaton credentials</a>.</em> {% endcomment %}
    {% include 'blog/navbar.html' %}
    {% include 'blog/messages.html' %} 
    {% block content %}{% endblock content %}
    {% include 'blog/scripts.html' %}
    {% include 'admin_panel.html' %}
    {% include 'blog/footer.html' %}       
  </body>
</html>



{% comment %} 

{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>
        <div class="btn-group">
          <button type="button" class="btn btn-ligth dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create</button>
          <div class="dropdown-menu">

              <a href="{% url 'post_create' %}" class="dropdown-item">Post</a>
              <a href="{% url 'tag_create' %}" class="dropdown-item">Tag</a>

          </div>
      </div>
      
      {% if request.user == post.profile %}
      <a href="{{admin_object.get_update_url}}"
        class="btn btn-light edit"
        {% if detail == True %}
            style="display:block;"
        {%endif%}
        >
          Edit
      </a>

      <a href="{{admin_object.get_delete_url}}"
        class="btn btn-danger delete"
        {% if detail == True %}
            style="display:block;"
        {%endif%}
        >
        Delete
      </a>    
      {%endif%}  
  </div>
  {%endif%}
{% endcomment %}